/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* styles */
* {
	font-family: "Poppins", sans-serif;
}

/* responsive */
@screen lg {
	img.absolute.bpipi-shoes {
		left: -20rem;
		top: -22rem;
		width: 57%;
		z-index: 20;
	}
}

@screen fhd {
	img.absolute.bpipi-shoes {
		left: -28rem;
		top: -29rem;
		width: 57%;
		z-index: 20;
	}
}
